USE [master]
GO
/****** Object:  Database [Medical Data2]    Script Date: 2022-10-08 12:54:28 AM ******/
CREATE DATABASE [Medical Data2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Medical Data2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Medical Data2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Medical Data2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Medical Data2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Medical Data2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Medical Data2]
GO
/****** Object:  Table [dbo].[APPOINTMENT]    Script Date: 2022-10-08 12:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Patient_Id] [int] NOT NULL,
	[Physician_Id] [int] NOT NULL,
	[Visit_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_APPOINTMENT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COVERAGE]    Script Date: 2022-10-08 12:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COVERAGE](
	[Patient_Id] [int] NOT NULL,
	[Medical_Id] [int] NOT NULL,
 CONSTRAINT [PK_COVERAGE] PRIMARY KEY CLUSTERED 
(
	[Patient_Id] ASC,
	[Medical_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPITAL]    Script Date: 2022-10-08 12:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITAL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Postal] [nvarchar](50) NOT NULL,
	[Phone] [nchar](11) NOT NULL,
 CONSTRAINT [PK_Hospital] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAL_PLAN]    Script Date: 2022-10-08 12:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAL_PLAN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Postal] [nvarchar](50) NOT NULL,
	[Phone] [nchar](11) NOT NULL,
 CONSTRAINT [PK_MEDICAL_PLAN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATION]    Script Date: 2022-10-08 12:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Patient_Id] [int] NOT NULL,
	[Hospital_Id] [int] NOT NULL,
	[Physician_Id] [int] NOT NULL,
	[Operation_Date_Time] [datetime] NOT NULL,
 CONSTRAINT [PK_OPERATION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 2022-10-08 12:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Postal] [nvarchar](50) NOT NULL,
	[Phone] [char](10) NULL,
 CONSTRAINT [PK_PATIENT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHYSICIAN]    Script Date: 2022-10-08 12:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHYSICIAN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Postal] [nvarchar](50) NOT NULL,
	[Phone] [nchar](11) NOT NULL,
 CONSTRAINT [PK_PHYSICIAN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHYSICIAN_ROSTER]    Script Date: 2022-10-08 12:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHYSICIAN_ROSTER](
	[Hospital_Id] [int] NOT NULL,
	[Physician_Id] [int] NOT NULL,
 CONSTRAINT [PK_PHYSICIAN_ROSTER] PRIMARY KEY CLUSTERED 
(
	[Hospital_Id] ASC,
	[Physician_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROCEDURE]    Script Date: 2022-10-08 12:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCEDURE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PROCEDURE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHEDULE]    Script Date: 2022-10-08 12:54:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Procedure_Id] [int] NOT NULL,
	[Operation_Id] [int] NOT NULL,
	[Date_Time] [datetime] NOT NULL,
 CONSTRAINT [PK_SCHEDULE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[APPOINTMENT] ON 

INSERT [dbo].[APPOINTMENT] ([Id], [Patient_Id], [Physician_Id], [Visit_Date]) VALUES (1, 1, 1, CAST(N'2022-10-07T23:44:22.470' AS DateTime))
INSERT [dbo].[APPOINTMENT] ([Id], [Patient_Id], [Physician_Id], [Visit_Date]) VALUES (2, 1, 2, CAST(N'2022-10-07T23:45:17.387' AS DateTime))
INSERT [dbo].[APPOINTMENT] ([Id], [Patient_Id], [Physician_Id], [Visit_Date]) VALUES (4, 1, 1, CAST(N'2022-10-07T23:45:30.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[APPOINTMENT] OFF
GO
INSERT [dbo].[COVERAGE] ([Patient_Id], [Medical_Id]) VALUES (1, 2)
INSERT [dbo].[COVERAGE] ([Patient_Id], [Medical_Id]) VALUES (1, 3)
INSERT [dbo].[COVERAGE] ([Patient_Id], [Medical_Id]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[HOSPITAL] ON 

INSERT [dbo].[HOSPITAL] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (2, N'VGH', N'342 W Broadway', N'Vancouver', N'V6H2Z1', N'6242346785 ')
INSERT [dbo].[HOSPITAL] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (3, N'Women''s hospital', N'432 Oak', N'Vancouver', N'V6H4Z7', N'6248769872 ')
INSERT [dbo].[HOSPITAL] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (4, N'Children''s Hospital', N'432 Oak', N'Vancouver', N'V6H8Z2', N'6245678909 ')
SET IDENTITY_INSERT [dbo].[HOSPITAL] OFF
GO
SET IDENTITY_INSERT [dbo].[MEDICAL_PLAN] ON 

INSERT [dbo].[MEDICAL_PLAN] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (1, N'Pacific Insurance', N'421 Granville Ave', N'Vancouver ', N'V6H3T9', N'6234567891 ')
INSERT [dbo].[MEDICAL_PLAN] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (2, N'Sun Life ', N'5476 Broadway Ave', N'Vancouver ', N'V5T8H5', N'6094567898 ')
INSERT [dbo].[MEDICAL_PLAN] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (3, N'Medical Service ', N'567 Davi St', N'Vancouver ', N'V6H0A8', N'6098765432 ')
SET IDENTITY_INSERT [dbo].[MEDICAL_PLAN] OFF
GO
SET IDENTITY_INSERT [dbo].[OPERATION] ON 

INSERT [dbo].[OPERATION] ([Id], [Patient_Id], [Hospital_Id], [Physician_Id], [Operation_Date_Time]) VALUES (1, 1, 3, 1, CAST(N'2022-02-06T04:40:00.000' AS DateTime))
INSERT [dbo].[OPERATION] ([Id], [Patient_Id], [Hospital_Id], [Physician_Id], [Operation_Date_Time]) VALUES (2, 2, 2, 3, CAST(N'2019-08-16T09:50:00.000' AS DateTime))
INSERT [dbo].[OPERATION] ([Id], [Patient_Id], [Hospital_Id], [Physician_Id], [Operation_Date_Time]) VALUES (4, 3, 2, 2, CAST(N'2020-01-22T05:40:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[OPERATION] OFF
GO
SET IDENTITY_INSERT [dbo].[PATIENT] ON 

INSERT [dbo].[PATIENT] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (1, N'Mike Silver', N'345 Denby Ave', N'Vancouver', N'V5G8KO', NULL)
INSERT [dbo].[PATIENT] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (2, N'Dana Sarabi', N'430 Willow St', N'Vancouver', N'V4H6Z0', N'6046579821')
INSERT [dbo].[PATIENT] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (3, N'Tim Pitt ', N'7689 Dawson Ave', N'Burnaby', N'V5C0B2', N'6098765432')
SET IDENTITY_INSERT [dbo].[PATIENT] OFF
GO
SET IDENTITY_INSERT [dbo].[PHYSICIAN] ON 

INSERT [dbo].[PHYSICIAN] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (1, N'Rose Ford', N'2345 Madison Ave', N'Burnaby', N'V5C0N3', N'6045678998 ')
INSERT [dbo].[PHYSICIAN] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (2, N'Mohit Ray', N'4768 Oak Ave', N'Vancouver ', N'V8F0B3', N'6046776215 ')
INSERT [dbo].[PHYSICIAN] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (3, N'Mary Yasini', N'2345 West Broadway', N'Vancouver', N'V5G7T8', N'4567892128 ')
SET IDENTITY_INSERT [dbo].[PHYSICIAN] OFF
GO
INSERT [dbo].[PHYSICIAN_ROSTER] ([Hospital_Id], [Physician_Id]) VALUES (2, 1)
INSERT [dbo].[PHYSICIAN_ROSTER] ([Hospital_Id], [Physician_Id]) VALUES (2, 2)
INSERT [dbo].[PHYSICIAN_ROSTER] ([Hospital_Id], [Physician_Id]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[PROCEDURE] ON 

INSERT [dbo].[PROCEDURE] ([Id], [Name]) VALUES (1, N'Cesarean Section')
INSERT [dbo].[PROCEDURE] ([Id], [Name]) VALUES (2, N'Coronary Artery Bypass')
INSERT [dbo].[PROCEDURE] ([Id], [Name]) VALUES (3, N'Low Back ')
SET IDENTITY_INSERT [dbo].[PROCEDURE] OFF
GO
SET IDENTITY_INSERT [dbo].[SCHEDULE] ON 

INSERT [dbo].[SCHEDULE] ([Id], [Procedure_Id], [Operation_Id], [Date_Time]) VALUES (6, 1, 2, CAST(N'2022-10-08T00:26:07.613' AS DateTime))
INSERT [dbo].[SCHEDULE] ([Id], [Procedure_Id], [Operation_Id], [Date_Time]) VALUES (7, 2, 2, CAST(N'2022-10-08T00:26:19.433' AS DateTime))
INSERT [dbo].[SCHEDULE] ([Id], [Procedure_Id], [Operation_Id], [Date_Time]) VALUES (8, 3, 2, CAST(N'2022-10-08T00:26:24.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[SCHEDULE] OFF
GO
ALTER TABLE [dbo].[APPOINTMENT] ADD  CONSTRAINT [DF_APPOINTMENT_Visit_Date]  DEFAULT (getdate()) FOR [Visit_Date]
GO
ALTER TABLE [dbo].[SCHEDULE] ADD  CONSTRAINT [DF_SCHEDULE_Date_Time]  DEFAULT (getdate()) FOR [Date_Time]
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTMENT_PATIENT] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[PATIENT] ([Id])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [FK_APPOINTMENT_PATIENT]
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTMENT_PHYSICIAN] FOREIGN KEY([Physician_Id])
REFERENCES [dbo].[PHYSICIAN] ([Id])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [FK_APPOINTMENT_PHYSICIAN]
GO
ALTER TABLE [dbo].[COVERAGE]  WITH CHECK ADD  CONSTRAINT [FK_COVERAGE_MEDICAL_PLAN] FOREIGN KEY([Medical_Id])
REFERENCES [dbo].[MEDICAL_PLAN] ([Id])
GO
ALTER TABLE [dbo].[COVERAGE] CHECK CONSTRAINT [FK_COVERAGE_MEDICAL_PLAN]
GO
ALTER TABLE [dbo].[COVERAGE]  WITH CHECK ADD  CONSTRAINT [FK_COVERAGE_PATIENT] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[PATIENT] ([Id])
GO
ALTER TABLE [dbo].[COVERAGE] CHECK CONSTRAINT [FK_COVERAGE_PATIENT]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_HOSPITAL] FOREIGN KEY([Hospital_Id])
REFERENCES [dbo].[HOSPITAL] ([Id])
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FK_OPERATION_HOSPITAL]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_PATIENT] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[PATIENT] ([Id])
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FK_OPERATION_PATIENT]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_OPERATION_PHYSICIAN] FOREIGN KEY([Physician_Id])
REFERENCES [dbo].[PHYSICIAN] ([Id])
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FK_OPERATION_PHYSICIAN]
GO
ALTER TABLE [dbo].[PHYSICIAN_ROSTER]  WITH CHECK ADD  CONSTRAINT [FK_PHYSICIAN_ROSTER_HOSPITAL] FOREIGN KEY([Hospital_Id])
REFERENCES [dbo].[HOSPITAL] ([Id])
GO
ALTER TABLE [dbo].[PHYSICIAN_ROSTER] CHECK CONSTRAINT [FK_PHYSICIAN_ROSTER_HOSPITAL]
GO
ALTER TABLE [dbo].[PHYSICIAN_ROSTER]  WITH CHECK ADD  CONSTRAINT [FK_PHYSICIAN_ROSTER_PHYSICIAN] FOREIGN KEY([Physician_Id])
REFERENCES [dbo].[PHYSICIAN] ([Id])
GO
ALTER TABLE [dbo].[PHYSICIAN_ROSTER] CHECK CONSTRAINT [FK_PHYSICIAN_ROSTER_PHYSICIAN]
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULE_OPERATION] FOREIGN KEY([Operation_Id])
REFERENCES [dbo].[OPERATION] ([Id])
GO
ALTER TABLE [dbo].[SCHEDULE] CHECK CONSTRAINT [FK_SCHEDULE_OPERATION]
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULE_PROCEDURE] FOREIGN KEY([Procedure_Id])
REFERENCES [dbo].[PROCEDURE] ([Id])
GO
ALTER TABLE [dbo].[SCHEDULE] CHECK CONSTRAINT [FK_SCHEDULE_PROCEDURE]
GO
USE [master]
GO
